ShopMyPham_MVC/Service References/ServiceShopBanHang/ServiceShopBanHang.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFeatureProduct">
        <s:complexType />
      </s:element>
      <s:element name="GetFeatureProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeatureProductResult" type="tns:ArrayOfProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MoreImages" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PromotionPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludedVAT" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryID" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Warranty" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ModifiedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TopHot" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="View" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFeatureProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeatureProduct" />
  </wsdl:message>
  <wsdl:message name="GetFeatureProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeatureProductResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceShopBanHangSoap">
    <wsdl:operation name="GetFeatureProduct">
      <wsdl:input message="tns:GetFeatureProductSoapIn" />
      <wsdl:output message="tns:GetFeatureProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceShopBanHangSoap" type="tns:ServiceShopBanHangSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFeatureProduct">
      <soap:operation soapAction="http://tempuri.org/GetFeatureProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceShopBanHangSoap12" type="tns:ServiceShopBanHangSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFeatureProduct">
      <soap12:operation soapAction="http://tempuri.org/GetFeatureProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceShopBanHang">
    <wsdl:port name="ServiceShopBanHangSoap" binding="tns:ServiceShopBanHangSoap">
      <soap:address location="http://localhost:53216/ServiceShopBanHang.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceShopBanHangSoap12" binding="tns:ServiceShopBanHangSoap12">
      <soap12:address location="http://localhost:53216/ServiceShopBanHang.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>